.section {
    background-color: white;
    margin: 20px 0;
}

.section__header {
    border-bottom: 2px solid #eee;
    padding: 20px;
    margin: 0;
}

@media (max-width: 710px) {
    .section__header {
        display: flex;
        justify-content: center;
    }
}

.section__container {
    padding: 20px;
}