.task {
    padding: 20px 20px;
    margin: auto;
    list-style: none;
}

.task__item {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.task__button {
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    padding: 0;
}

.task__button--done {
    background-color: rgb(38, 134, 38);
    border: none;
}

.task__button--done:hover {
    background-color: rgb(54, 167, 20);
}

.task__button--done:active {
    background-color: rgb(45, 179, 45);
}

.task__button--remove {
    height: 30px;
    width: 30px;
    background-color: red;
    font-weight: normal;
    cursor: pointer;
}

.task__button--remove:hover {
    background-color: rgb(230, 16, 52);
}

.task__button--remove:active {
    background-color: rgb(255, 5, 59);
}

.task__content--done {
    text-decoration: line-through;
}